services:
  mariadb-persist:                                    
    image: mariadb:latest
    container_name: mariadb-persist
    environment:    # 이미지 생성시 환경설정
      - MARIADB_ROOT_PASSWORD=root1234
      - MARIADB_DATABASE=calcdb
    ports:
      - "3310:3306"
    volumes:
      - mariadb-volume:/var/lib/mysql   # 마리아DB 데이터 를 vloume에 저장
      - mariadb-logs:/var/log/mysql     # 마리아DB 로그 를 vloume에 저장
    networks:
      - camp-net
    restart: always
    ## error.log: 에러 발생시 쌓이는 로그 파일
    ## general.log: 일반 로그
    ## slow.log: 느린 쿼리 로그가 쌓이는 로그 파일(2초 이상)
    
    ## 실행중인 mariadb-persist 컨테이너로 들어가서 log 파일 확인(bash에서 확인 불가)
    ## docker exec -it mariadb-persist tail -f /var/log/mysql/general.log(-f 는 실시간 확인 옵션)
    command: >                                        
      --log-error=/var/log/mysql/error.log
      --general-log=1
      --general-log-file=/var/log/mysql/general.log
      --slow-query-log=1
      --slow-query-log-file=/var/log/mysql/slow.log
      --long-query-time=2
    ## healthckeck(컨테이너 상태 확인)
    ## DB가 완전히 준비 되었는지 여러번 시도
    ## test: 실행할 감시 대상(DB연결 + InnoDB 초기화 확인)
    ## interval: 10초마다 체크
    ## timeout: 5초간 대기하다 응답 없으면 실패
    ## retries: 5번 시도
    healthcheck:                                       
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

  springboot-app:
    build:
      context: ./chap02_01_bootproject
    image: ys0915/calc-volume:latest                  
    container_name: spring-calc-with-db               
    ports:
      - "8055:7777"                                   
    networks:
      - camp-net
    depends_on:                                       
      mariadb-persist:
        condition: service_healthy    # 마리아 db 컨테이너가 정상이면 실행 되겠다 
    restart: always

  vue-app:
    build:
      context: ./chap02_02_vueproject
    image: ys0915/vue_19_project
    container_name: vue-container-integrated          
    ports:
      - "8011:5173"
    networks:
      - camp-net
    depends_on:                                      
      - springboot-app  # 실행시 선후 관계, 여기서는 백엔드 서버가 켜진 후 실행
    restart: always     # 컨테이너가 꺼지면 자동으로 재 실행

volumes:                                              
  mariadb-volume:
    driver: local
  mariadb-logs:
    driver: local

networks:
  camp-net:
    driver: bridge